$o-theme-font-size-base: .92rem;
$-palettes: (
    (
        'alpha':        #F3F2F7,
        'beta':         #A2CEE5,
        'gamma':        #7484A7,
        'delta':        #599AF4,
        'epsilon':      #3D7FDE,
    ),

    (
        'alpha':        #EB795B,
        'beta':         #5E4A5C,
        'gamma':        #8B545C,
        'delta':        #8D3C2E,
        'epsilon':      #131B25,
    ),

);

$o-theme-color-palettes: ();

@each $-palette in $-palettes {
    $o-theme-color-palettes: append($o-theme-color-palettes, map-merge($-palette, (
        'primary':      map-get($-palette, 'alpha'),
        'secondary':    map-get($-palette, 'beta'),
        'success':      map-get($-palette, 'gamma'),
        'warning':      map-get($-palette, 'delta'),
        'danger' :      map-get($-palette, 'epsilon'),
    )));
}

$o-color-palettes: ();
@each $-palette in $o-theme-color-palettes {
    $o-color-palettes: append($o-color-palettes, (
        'body':         map-get($-palette, 'alpha'),
        'menu':         map-get($-palette, 'delta'),
        'footer':       map-get($-palette, 'delta'),
        'text':         map-get($-palette, 'delta'),
        'h1':           map-get($-palette, 'gamma'),
        'h2':           map-get($-palette, 'gamma'),
        'h3':           map-get($-palette, 'gamma'),
        'h4':           map-get($-palette, 'gamma'),
        'h5':           map-get($-palette, 'gamma'),
    ));
}



$o-theme-fonts: (
    ('Lato', sans-serif),
    ('Raleway', sans-serif),
    ('Helvetica', 'Arial', sans-serif),
    ('Abril Fatface', cursive),
    ('Alfa Slab One', cursive),
    ('Arvo', serif),
);

$o-theme-font-urls: (
    'Lato:400,400i,700,700i',
    'Raleway:400,400i,700,700i',
    null,
    'Abril+Fatface',
    'Alfa+Slab+One',
    'Arvo:400,400i,700,700i',
);

$o-theme-font-names: (
    'Lato',
    'Raleway',
    'Helvetica',
    'Abril',
    'Alfa Slab One',
    'Arvo',
);
